{erl_opts, [debug_info]}.
{deps, [rocksdb,
   {exor_filter, {git, "http://github.com/Vagabond/exor_filter", {branch, "master"}}},
   {xxhash, {git, "https://github.com/pierreis/erlang-xxhash", {branch, "master"}}},
   {bloom, {git, "https://github.com/Vagabond/erbloom", {branch, "adt/more-improvements"}}}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [bloom_router]}
]}.
